body {
    margin: 0;
    padding: 0;
    background-color: rgba(30, 30, 30, 0.9);
    width: 100%;
    height: 100vh; 
}

/* ------------------- HEADER ------------------- */
header {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #000000;
}

h1 {
    margin: 0 0 0 10px;
}

h2 {
    margin: 1.5rem auto 2rem auto;
    text-align: center;
    color: #ffffff;
}

.btn-about {
    background-color: #47a386;
    border: 1px solid #47a386;
    border-radius: 5px;
    color: #ffffff;
    width: 80px;
    padding: 5px;
    margin: 0 10px 0 0;
    cursor: pointer;
    /* Elimina resplandor cuando recibe el focus */
    outline: none;
}

/* ------------------- BOARD ------------------- */
.board {
    background-color: greenyellow;
    width: 70vh;
    height: 70vh;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    /* Todo lo que se desborde lo oculta */
    overflow: hidden;
    position: relative;
    /* cursor: pointer; */
}

.position {
    width: 50%;
    height: 50%;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow.soft{
    background-color: rgba(236, 236, 45, 0.561);
}

.blue.soft{
    background-color: rgba(69, 69, 236, 0.589);
}

.red.soft{
    background-color: rgba(231, 90, 90, 0.63);
}

.green.soft{
    background-color: rgba(95, 230, 95, 0.637);
}

.btn-start {
    width: 50vh;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 25vh);
    font-size: 2rem;
    border-radius: 10px;
    background-color: indigo;
    color: #ffffff;
    box-shadow: #ffffff 1px 1px 10px;
    cursor: pointer;
}

.hide {
    display: none;
}

.increase {
    transform: scale(1.05);
}

@media screen and (max-width: 460px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .board {
        width: 60vh;
        height: 60vh;
    }

    .position {
        width: 50%;
        height: 50%;
    }

    .btn-start {
        width: 40vh;
        height: 60px;
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 20vh);
        font-size: 1.6rem;       
    }
}

@media screen and (max-width: 330px) {
    .board {
        width: 55vh;
        height: 55vh;
    }

    .position {
        width: 50%;
        height: 50%;
    }

    .btn-start {
        width: 40vh;
        height: 50px;
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 20vh);
        font-size: 1.3rem;       
    }
}